# Rust
debug/
target/
Cargo.lock
**/*.rs.bk
*.pdb
OpenCL.lib
stelarilo*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.pyd

# Documentation
documentation/_autosummary/*
documentation/_build/
documentation/static/
documentation/_templates/

# Sample data
data/*

# Trained models
*.pt2
